#忽略/Debug下面所有的文件
/Debug/*
#不要忽略/Debug/cert文件夹
!/Debug/cert
#不要忽略/Debug/private文件夹
!/Debug/private
#不要忽略Debug/uac2.cfg 文件
!Debug/uac2.cfg
#不要忽略Debug/uas.cfg 文件
!Debug/uas.cfg
#不要忽略Debug/uas.cfg 文件
!Debug/makefile
